@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer base {
    :root {
        --forest-green: #2E8B57;
        --ocean-blue: #4682B4;
        --hover-ocean-blue: #1376c7;
        --sand-text: #F5F5DC;
        --bubbles-font: "Rubik Bubbles", cursive;
        --normal-font: "Rubik", sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    body {
        background-color: var(--sand-text);
        margin: 0;
        padding: 0;
        //min-width: 100vw;
        //min-height: 100vh;
    }
}
