@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer base {
    :root {
        --forest-green: #2E8B57;
        --ocean-blue: #4682B4;
        --hover-ocean-blue: #1376c7;
        --sand-text: #F5F5DC;
        --bubbles-font: "Rubik Bubbles", cursive;
        --normal-font: "Rubik", sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    body {
        background-color: var(--sand-text);
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        position: relative;
    }

    .swiper-button-prev, .swiper-button-next {
        background-color: var(--ocean-blue);
        border-radius: 16px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .1s ease-in-out;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .swiper-button-prev::after, .swiper-button-next::after {
        color: var(--sand-text);
        font-size: 16px;
    }

    .swiper-button-prev:hover, .swiper-button-next:hover {
        transform: scale(1.05);
    }
}
